<% content_for :aui_layout do %>
  <body class="aui-layout aui-theme-default aui-page-fixed landing">
<% end %>

<% content_for :page_title do %>
  <div class="aui-group">
    <div class="aui-item hero">
      <h1>MoodApp</h1>
      <h2>Track your staff's pulse and watch opinions and engagement change over time</h2>
    </div>
    <div class="aui-item signin">
      <a class="aui-button aui-button-primary signup" href="/users/sign_up">Sign up</a>
      <p><small>or <a href="/users/sign_in">Sign in</a></small></p>
    </div>
  </div>
<% end %>

<div class="aui-group previews">
  <section class="aui-item">
    <img src="http://placehold.it/240x150" alt="">
  </section>
  <section class="aui-item">
    <img src="http://placehold.it/240x150" alt="">
  </section>
  <section class="aui-item">
    <img src="http://placehold.it/240x150" alt="">
  </section>
  <section class="aui-item">
    <img src="http://placehold.it/240x150" alt="">
  </section>
</div>

<div class="aui-group spacetop">
  <blockquote>
    <p>
      Imagine the potential of a tool that tells you on a daily basis what your employees are thinking... let you know if they are happy and what changes their mood. You could see the immediate impact an announcement has on their motivation and get almost instant feedback on your strategies. Tap into a collective consciousness.
    </p>
    <cite>BRW</cite>
  </blockquote>
</div>

<div class="aui-group spacetop">
  <div class="aui-item">
    <h3>Get Started within minutes</h3>
    <ul>
      <li><a href="https://bitbucket.org/atlassianlabs/moodapp">Download MoodApp</a></li>
      <li>Put iPads near all your office exits</li>
      <li>Watch engagement and opinions change over time</li>
    </ul>
    <h3>For free, from us to you</h3>
    <p class="highlighted">
      MoodApp allows organsations measure feedback continuously with minimum effort. You can continuously course-correct your strategies if engagement levels drop, or if people disagree with certain strategic or tactical decisions, rather than waiting for an annual survey.
    </p>
    <p>
      We're not in the business of HR tools. Feel free to try the tool, download the source code and make suggestions.
    </p>
  </div>
  <div class="aui-item">
    <h3>A product of Atlassian's values</h3>
    <div class="values">
      <h3>Be the Change You Seek</h3>
      <p>
        Every Atlassian is encouraged to challenge the status quo and drive improvements. MoodApp was originally created by an HR person and a developer during a ShipIt day, our quarterly hackathon. The problem we found with annual engagement surveys is that questions are often irrelevant and problems are only identified once a year (too late).
      </p>
      <h3>Open Company, No Bullshit</h3>
      <p>
        Atlassian is known for driving a culture of transparency. We craving to understand how people are feeling..on a daily basis.
      </p>
      <p class="centered">
        <a href="http://atlassian.com/company/about/values">Learn more about Atlassian's values</a>
      </p>
    </div>
  </div>
</div>