<h2>Create your first survey</h2>
<p>
  Once you have created your surveys you can associate them with the different <%=link_to 'locations', locations_path %><br />
  to display them on your iPads.
</p>
<p>
  <%= link_to 'New Survey', new_survey_path, :class => 'aui-button' %> 
</p>