/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require aui/aui-all
 *= require_self
 */

.fieldLabel{color: #666}
.aui-header .logo-moodapp .aui-header-logo-device {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100%;
    display: block;
    float: left;
    height: 24px;
    padding: 8px 0;
    text-indent: -9999px;
    text-align: left;
}

.aui-header .logo-moodapp .aui-header-logo-device {
    background-image: url('/assets/logo-moodapp.png');
    width: 104px;
}

.img_small{
	max-width: 48px;
	max-height:48px;
}
.aui-page-fixed .aui-page-panel-inner, .aui-page-fixed.aui-theme-default #content > .aui-page-header {
    padding: 10px 40px;
}
.landing {
    margin:0 auto;
}
.landing h1 {
    font-size: 52px;
    padding-top: 60px;
}
.landing h2 {
    font-size: 26px;
    padding-bottom: 60px;
}
.hero {
    width:75%;
}
.signin {
    width:25%;
    padding: 130px 0 0 0;
    text-align: center;
}
.aui-button.signup {
    width:100%;
    font-size:24px;
    border-radius: 5px;
}
.aui-page-focused.aui-page-focused-medium .aui-message {
    width:465px;
}
.aui-group.previews > .aui-item+.aui-item {
    padding-left:0;
}
.spacetop {
    margin-top:40px;
}