/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require aui/aui-all
 */

.fieldLabel{color: #666}
.aui-header .logo-moodapp .aui-header-logo-device {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100%;
    display: block;
    float: left;
    height: 24px;
    padding: 8px 0;
    text-indent: -9999px;
    text-align: left;
}

.aui-header .logo-moodapp .aui-header-logo-device {
    background-image: url('/assets/logo-moodapp.png');
    width: 104px;
}