<h2>Create your first iPad location!</h2>
<p>
  A location can correspond to a country, a city or a specific spot in your office.
</p>
<p> 
  After associating your iPads with a particular locations you will be able to control<br />
  and display survey from this administration interface.
</p>
<p>
  <%= link_to 'New Location', new_location_path, :class => 'aui-button' %> 
</p>